*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body {
font-family: "Lexend Deca", sans-serif;
 line-height: 1.4;
  background-color: hsl(0, 0%, 95%);
}
/*i'll be back*/
h2{
font-family:"Big Shoulders Display", sans-serif;
}

.flex-container{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    background-color: blue;
}
.container-items{
   width: 900px;
   display: flex;
    justify-content: space-between; 
}
.card{
    display: flex;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    justify-content: center;

}