*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body {
font-family: "Lexend Deca", sans-serif;
 line-height: 1.4;
  background-color: hsl(0, 0%, 95%);
}

h2{
font-family:"Big Shoulders Display", sans-serif;
}

.card-container{
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.container-items{
   width: 900px;
   display: flex;
   
    
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 22px 22px;

}

.card header{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; using it causes conflict in arranging the texts */
    flex-direction: column;/* this suites better than using wrap,it breaks the header and paragraph*/
    gap: 35px;
    

}

.card-description{
    justify-content: space-around;
    max-width: 200px;
}

.card--sedans{
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
}

.card--suvs{
  background-color:  hsl(184, 100%, 22%);
color: hsla(0, 0%, 100%, 0.75);
}

.card--luxury{
    background-color:hsl(179, 100%, 13%);
     color: hsla(0, 0%, 100%, 0.75);
     
}

.card-image{
    width:100px;
    aspect-ratio: auto;
}

.card-button{
    background-color:hsla(0, 0%, 100%, 0.75);
    border: 1px;
    border-radius: 15px;
    padding: 10px 5px;
    width: 100px;

}

.card--suvs .card-button{
    color: hsl(179, 100%, 13%);
    background-color: white;
}

.card--sedans .card-button{
   color:  hsl(31, 77%, 52%);
   background-color: white;
}

.card--luxury .card-button{
    color: hsl(179, 100%, 13%);
    background-color: white;
}

