*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body {
font-family: "Lexend Deca", sans-serif;
 line-height: 1.4;
  background-color: hsl(0, 0%, 95%);
}
/*i'll be back*/
h2{
font-family:"Big Shoulders Display", sans-serif;
}

.card-container{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    
    gap:1rem;
}
.container-items{
   width: 900px;
   display: flex;
    justify-content: space-between; 
    
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 22px 18px;
gap:1rem
}

.card header{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; using it causes conflict in arranging the texts */
    flex-direction: column;/* this suites better than using wrap,it breaks the header and paragraph*/
    gap: 35px;
    

}

.card-description{
    justify-content: space-around;
    max-width: 200px;
}
/*500*/
.card--sedans{
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
}
/* 800 */
.card--suvs{
  background-color:  hsl(184, 100%, 22%);

}
/* 950 */
.card--luxury{
    background-color:hsl(179, 100%, 13%);
     
}

